---
import ApprobalCode from '@/components/ApprobalCode.astro';
import { URL_BASE } from '@/config';
---

<section class="relative font-brandon h-96 bg-top bg-cover p-4 md:p-8 flex flex-col" style=`background-image: url(${URL_BASE}/img/banner.webp);`>
  <div class="absolute inset-0" style="background: linear-gradient(to top, black 0%, transparent 40%); opacity: 0.6;"></div>
  <h1 class="relative text-6xl text-white mt-auto">PODER <span class="text-7xl font-bold">20</span></h1>
  <ApprobalCode />
</section>
