---
import { URL_BASE } from "@/config";
---

<section class="flex gap-8 p-8 justify-end max-w-7xl mx-auto items-center">
  <img src={`${URL_BASE}/img/mia.webp`} alt="Logo Mia">
  <img src={`${URL_BASE}/img/mia20.webp`} alt="Logo Mia20">
  <img src={`${URL_BASE}/img/bellaface.webp`} alt="Logo Bellaface">
</section>