<section class="max-w-7xl mx-auto bg-morado-wh-abbott p-4 lg:p-8 font-georgia text-white text-4xl leading-snug">
  <p class="text-rosado-wh-abbott">Demuestra el poder de tu  conocimiento en 20 segundos</p>
  <p>
    Juego de preguntas y respuestas rápidas sobre  anticonceptivos orales combinados. El participante tiene 20 segundos para elegir la respuesta correcta de cada una de las 6 preguntas.
  </p>
</section>