---
import { URL_BASE } from "@/config";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Demuestra el poder de tu  conocimiento en 20 segundos Juego de preguntas y respuestas rápidas sobre  anticonceptivos orales combinados."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href=`${URL_BASE}/favicon.png` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "Brandon";
    src: url("/apps/abbott/poder20/fonts/Brandon_reg.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Brandon";
    src: url("/apps/abbott/poder20/fonts/Brandon_blk.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
</style>
